<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
        .CommentBox{
        padding:4px;
        margin:4px;
        border: 2px solid grey;
      }
    </style>
</head>

<body>
    <div class="CommentBox">
        <h1>
            Komentar RUBICAMP </h1>
        <ul>
            <li>
                <h4>Superman</h4>
                <p>Batman tolongin gua dong</p>
            </li>
            <li>
                <h4>Batman</h4>
                <p>ok man, otw</p>
            </li>
        </ul>
        <form class="" action="index.html" method="post">
            <label for="">Your Name</label>
            <input type="text" name="" value="">
            <br>
            <textarea name="name" rows="8" cols="80"></textarea>
            <button type="button" name="button">Kirim</button>
        </form>
    </div>
</body>

</html>